# Ignore plot images
img/plot/*

# Ignore log files
log/*

# Ignore checkpoint files
ckpt/*

# Ignore Dataset files
data/PeMS-BAY/*
data/PeMS04/*


# Ignore pycache
__pycache__/
utils/__pycache__/
models/__pycache__/
trainer/__pycache__/
scripts/node2vec/__pycache__/

backup/