# Ignore plot images
img/plot/*

# Ignore log files
log/*

# Ignore checkpoint files
ckpt/*

# Ignore Dataset files
data/*

# Ignore pycache
__pycache__/
utils/__pycache__/
models/__pycache__/

demo/

backup/